.container {
  color: $main-font-color;
  background-color: $container-background;
  border: 1px solid $container-border;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
  .button {
    transition: all 0.1s ease;
    background-color: $btn-submit;
    &:hover {
      background-color: darken($btn-submit, 5%);
    }
    &:active {
      transform: scale(1.02);
    }
    outline: 0;
  }
}

.container__header {
  border-bottom: 1px solid $container-border;
  padding: 1rem;
  input {
    &:focus {
      border: 2px solid $input-border-color;
    }
  }
  label {
    color: $main-font-color;;
    cursor: pointer;
    font-size: 1rem;
  }
  > :last-child {
    display: flex;
    align-items: center;
  }
}

.container__footer {
  padding: 1rem 1rem 0 1rem;
  border-top: 1px solid $container-border;
  input {
    &:focus {
      border: 2px solid $input-border-color;
    }
  }
}

.container__message {
  color: $main-font-color;
  margin: 2rem auto;
  text-align: center;
}